<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<ol>
    <p>Some of the popular languages that Data Scientists use are:</p>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>SCIKIT-LEARN</li>
    <li>PyTorch</li>
    <li>Pandas</li>
</ol>

| Data Science Tools |
| :---               |
| R Studio           |
| Jupyter            |
| Watson Studio      |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

 This a simple arithmetic expression to mutiply then add integers This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [8]:
200/60

3.3333333333333335

**Objectives:**

<ul>
    <li>Python</li>
    <li>Sql</li>
    <li>R</li>
</ul>