<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1.python
2.R
3.Java

Some of the commonly used libraries used by Data Scientists include:
1.Scikit-Learn
2.PyTorch
3.Pandas

| Data Science Tools |
| :------            |
| VSCODE             |
| RSTUDIO            |
| JUPYTER NOTEBOOK   |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

 This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

__Objectives:__
- PYTHON
- R
- SQL

<h2>Author</h2>

TEJA